<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Token Safe</title>


    <link href="public/css/bootstrap.min.css" type="text/css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="/public/css/main.css"  type="text/css"rel="stylesheet"></link>
    <!-- Bootstrap core CSS -->

  </head>

  <body>

    <!-- <div id="particles-js" class="particles-container particles-js">
      <canvas class="particles-js-canvas-el" width="1349" height="725" style="width: 100%; height: 100%;"></canvas>
    </div> -->
   
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Token Safe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header with Background Image -->
    <!-- <header class="business-header particle">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1 class="display-3 text-white mt-4 header-title">Cryptocurrency to Realize the Equality of Opportunity.</h1>
          </div>
          <div class="col-lg-4">
         <!-- <button ><a href="/work/folder/tokensafe/mint.html">create a new token</a></button> -->
          <!-- </div>
        </div>
      </div>
    </header> -->

    <!-- Page Content -->

    <section class="section">
      <div class="container">
        <div class="row">
          
       
        </div>
      </div>
    </section><br><br>
    <!-- /.row -->

    <section class="section">
      <div class="container">
        <div class="col">
      <div class="row-md-7">

<div class="cont1">
        <div class="panel-heading1">
                <h3 class="panel-title"  style="font-size:18px">Token Type</h3>
           </div>
    <div style="padding-left:17%" ><br>
    <label>&emsp;ERC-20</label>&emsp;&emsp;&emsp;<input type="radio" name="post-format" > &emsp;&emsp;
        ERC-20 is recommended option, accepted by most exchanges.
        <div> <label>ERC-223</label>&emsp;&emsp;&emsp;<input type="radio" name="post-format">&emsp;&emsp;
            ERC-223 is similar to ERC-20, but it provides extra safety during token transfers.
</div>
</div>
      </div>
      </div>
      <div class="row-md-6">


<div class="cont2">
    <div>
        <div class="panel-heading1">
                <h3 class="panel-title"  style="font-size:18px">Token Attributes</h3>
           </div>
           </div>

<div class="row">


<div class="col-md-2">
    <br>
        <div  >
          <label>Enter Token Name</label>                
              
            </div>
            <br>     <div  >
                    <label>Enter Token Symbol</label>                
                        
                    <br>     </div>
                      <div  ><br>
                            <label>Decimals*</label>                
                                
                            <br>    </div><br><br>
                              <div  >
                                    <label>Total Supply*</label>                
                                        
                                      </div>

</div>

<div class="col-md-4">
<br>
     <div>  <input maxlength="200" type="text" required="required" class="form1-control" placeholder="EnterToken name" /></div>
     <br>  <div><input maxlength="200" type="text" required="required" class="form1-control" placeholder="EnterToken symbol" /></div>
   <br>  <div>    <input maxlength="200" type="text" required="required" class="form1-control" placeholder="Decimal" /></div><br>
  <br>  <div><input maxlength="200" type="text" required="required" class="form1-control" placeholder="Enter Total supply" /></div>    
</div>

<div class="col-md-6">
    <br>
    <div>
  
<label>The name of the token. 3-25 symbols. Alphanumerical characters, space, and hyphen are accepted.</label></div>

<div>
<label>
        3-4 characters (example ETH, BTC, BAT, etc.). No spaces. Only alphanumerical characters.
</label>
</div>

<div>
<label>
    
Defines the number of decimals for the token. 0-50 numerals are accepted. 18 is common practice.
</label>
</div>

<div>
<label>
    
Total amount of tokens to be generated. Minimum value is 1, and maximum 1000000000000000.
</label>

</div>

</div>


      </div>
      </div>
        
      </div>
    </section>
    <!-- /.row -->

    <section class="section blue-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-8 cta">
            <h1>What Does CoinCart Cost?</h1>
            <p>That's right, 100% free for most sales.</p>
            <p>Contact our product specialist about pricing for custom deployments and additional services.</p>
            <a href="#contact" class="btn-rev-white btn-cta">Schedule a Demo</a>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
    </section>
    <!-- /.row -->

    <section class="section big-feature">
      <div class="container">
        <!-- <img class="big-img" src="img/big-img.jpeg" alt="big-img" /> -->
        <div class="hide-logo"></div>
        <h1 class="heading-two">Trust Your Sale to CoinCart</h1>
        <h2>Keep your engineering team focused on your product, let us handle the infrastructure.</h2>
        <div class="big-button">
          <a class="btn-primary btn-cta" href="#">Shedule a Demo</a>
        </div>
        <div class="row feature-content-row">
          <div class="col-md-4">
            <p class="feature-content">
                Create a custom funding plan with presale allocations, discounts and different purchase tranches.
            </p>
          </div>
          <div class="col-md-4">
            <p class="feature-content">
              Enterprise-grade infrastructure and DDoS protection lets you focus on your project, not configuring firewalls.
            </p>
            </div>
          <div class="col-md-4">
            <p class="feature-content">
              Set dynamic token pricing models to maximize your purchaser base and number of network participants.
            </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <p class="feature-content">
                  Create a custom funding plan with presale allocations, discounts and different purchase tranches.
              </p>
            </div>
            <div class="col-md-4">
              <p class="feature-content">
                Enterprise-grade infrastructure and DDoS protection lets you focus on your project, not configuring firewalls.
              </p>
              </div>
            <div class="col-md-4">
              <p class="feature-content">
                Set dynamic token pricing models to maximize your purchaser base and number of network participants.
              </p>
              </div>
          </div>
      </div>
    </section>

    <section class="section">
      <div class="">
          
          <div class="testimonial slideshow-container">
            <h2 class="text-center">Testimonials</h2>
            <div class="mySlides">
              <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
              <p class="author">- John Keats</p>
            </div>
            
            <div class="mySlides">
              <q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
              <p class="author">- Ernest Hemingway</p>
            </div>
            
            <div class="mySlides">
              <q>I have not failed. I've just found 10,000 ways that won't work.</q>
              <p class="author">- Thomas A. Edison</p>
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
              
          </div>

          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
          </div>

      </div>
    </section>

    <section class="section blue-bg">
        <div class="container contact">
          <div class="row ts-row">
            <div class="col-md-8">
              <h1>Ready to Get Started?</h1>
              <p>Fill out this brief form and our team will be in touch about getting your ICO set up on CoinCart</p>
            </div>
            <div class="col-md-4">
              <a href="#" class="btn btn-white"> Contact Integration Team </a>
            </div>
          </div>
          <div class="row">
            <form id="contact" class="contact row">
              <div class="col-md-4">
                  <label for="prg-tkn-name">Project or Token Name <span>*</span></label>
                  <input class="form-control" type="text" name="prg-tkn-name" >
              </div>
              <div class="col-md-4">
                  <label for="fnd-rsd-gol">Target Fundraise Goal <span>*</span></label>
                  <input class="form-control" type="text" name="fnd-rsd-gol" >
              </div>
              <div class="col-md-4">
                  <label for="plnd-ico-date">Planned ICO Date <span>*</span></label>
                  <input class="form-control" type="text" name="plnd-ico-date" >
              </div>
              <div class="col-md-4">
                  <label for="prg-tkn-name">Project or Token Name <span>*</span></label>
                  <input class="form-control" type="text" name="prg-tkn-name" >
              </div>
              <div class="col-md-4">
                  <label for="fnd-rsd-gol">Target Fundraise Goal <span>*</span></label>
                  <input class="form-control" type="text" name="fnd-rsd-gol" >
              </div>
              <div class="col-md-4">
                  <label for="plnd-ico-date">Planned ICO Date <span>*</span></label>
                  <input class="form-control" type="text" name="plnd-ico-date" >
              </div>
              <div class="col-md-4">
                  <label for="fnd-rsd-gol">Target Fundraise Goal <span>*</span></label>
                  <input class="form-control" type="text" name="fnd-rsd-gol" >
              </div>
              <div class="col-md-4">
                  <label for="plnd-ico-date">Planned ICO Date <span>*</span></label>
                  <input class="form-control" type="text" name="plnd-ico-date" >
              </div>
              <div class="col-md-4">
                  <label for="prg-tkn-name">Project or Token Name <span>*</span></label>
                  <input class="form-control" type="text" name="prg-tkn-name" >
              </div>
              <div class="col-md-12 text-center" >
                  <input class="btn btn-rev-white type="submit" value="Submit" />
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- /.row -->

    <!-- Footer -->
    <footer class="py-1 footer-particle ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-left">
              <p class="m-0 text-white copyright">Copyright &copy; Token Safe 2018</p>
          </div>
          <div class="col-md-6 text-right">
              <p class="m-0 text-white footer-links">Links</p>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="js/jquery.bundle.js"></script>

    <script src="js/main.js"></script>
  </body>

</html>
